form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 30px;
    

    .row {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        align-items: center;
        width: 100%;

        img {
            max-width: 250px;
        }
    }

    label {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    input {
        background-color: transparent;
        border: 1px solid #e0e0e0;
        color: black;
        border-radius: 0.5rem;
        width: 100%;
        height: 50px;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    select {
        width: 100%;
    }

    .formbutton {
        background-color: rgb(0, 0, 0);
        border: 0;
        color: rgb(255, 255, 255);
        border-radius: 0.5rem;
        width: 100%;
        height: 50px;
        max-width: 700px;

        &[disabled] {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

}

h2 {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
